
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_DemoLayout.cshtml";
}

<h2>Depositions</h2>
<ul>
	<li>@Html.ActionLink("Deposition's Information", "DepositionInfo")</li>
	<li>@Html.ActionLink("Depositions' List", "DepositionList")</li>
</ul>

<h2>Records</h2>
<ul>
	<li>@Html.ActionLink("Record's Information", "RecordInfo")</li>
	<li>@Html.ActionLink("Records' List", "RecordList")</li>
	<li>@Html.ActionLink("Record's' Issues", "RecordIssues")</li>
	<li>@Html.ActionLink("Record's' Fields", "RecordFields")</li>
</ul>

@*<h2>Jobs</h2>
<ul>
	<li>@Html.ActionLink("Molecule2D", "Molecule2D")</li>
	<li>@Html.ActionLink("JSMol", "JSMol")</li>
</ul>

<h2>Chunks</h2>
<ul>
	<li>@Html.ActionLink("Molecule2D", "Molecule2D")</li>
	<li>@Html.ActionLink("JSMol", "JSMol")</li>
</ul>

<h2>Logging</h2>
<ul>
	<li>@Html.ActionLink("Molecule2D", "Molecule2D")</li>
	<li>@Html.ActionLink("JSMol", "JSMol")</li>
</ul>

<h2>Properties</h2>
<ul>
	<li>@Html.ActionLink("Molecule2D", "Molecule2D")</li>
	<li>@Html.ActionLink("JSMol", "JSMol")</li>
</ul>*@

